# Built application files
out/

# Log Files
*.log

# IDEA/Android Studio ignores
*.iml
*.ipr
*.iws
**/.idea/shelf
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/datasources.xml
**/.idea/dataSources.ids
**/.idea/gradle.xml
**/.idea/misc.xml
**/.idea/modules.xml
**/.idea/libraries
**/.idea/dictionaries

# OS-specific cruft
*.DS_Store
Thumbs.db
